<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>脚部模板 - 艾米的宠物社区</title>
<!--    <link rel="stylesheet" href="../../css/base.css">-->
</head>
<body>
    <!-- 引入脚部 -->
    <div class="footer">
        <div>
            <span><a href="https://www.baidu.com">关于社区</a></span>
            <span><a href="https://www.baidu.com">About Amy's</a></span>
            <span><a href="https://www.baidu.com">服务协议</a></span>
            <span><a href="https://www.baidu.com">全站地图</a></span>
            <span><a href="https://www.baidu.com">帮助中心</a></span>
            <span><a href="https://www.baidu.com">意见反馈</a></span>
            <span><a href="https://www.baidu.com">举报</a></span>
            <span>
                <a href="https://www.baidu.com">
                    <img src="../../images/icons/tel.png" alt="">
                    400-192-2022
                </a>
            </span>
            <span>
                <a href="https://www.baidu.com">
                <img src="../../images/icons/email.png" alt="">
                    welcome@amyhome.com
                </a>
            </span>
            <span><a href="https://www.baidu.com">在线客服 QQ 8164236875&nbsp;&nbsp;8458171517</a></span>
            <span><a href="https://www.baidu.com">工作时间 9:30~22:00 工作日内</a></span>
        </div>
        <div>
            <span>Copyright © 2022 alix.cn All Rights Reserved</span>
            <span>
                浏览器支持&nbsp;&nbsp;&nbsp;
                <img src="../../images/icons/chrome.png" alt="">&nbsp;&nbsp;
                <img src="../../images/icons/edge.png" alt="">&nbsp;&nbsp;
                <img src="../../images/icons/ie.png" alt="">&nbsp;&nbsp;
                <img src="../../images/icons/huohu.png" alt="">&nbsp;&nbsp;
                <img src="../../images/icons/360.png" alt="">(11)
            </span>
        </div>
    </div>
</body>
</html>