<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>头部模板 - 艾米的宠物社区</title>
<!--    <link rel="stylesheet" type="text/css" href="../../css/base.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../../css/testcss.css">-->
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="left" style="float: left">
            <span><a target="_blank" href="../../index.html">返回首页</a></span>
        </div>
        <div class="right" align="right">
            <span>早上好：<a href="https://www.baidu.com">用户19532</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">购物车</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">订单详情</a></span>
            <span class="spacer">|</span>
            <span><a href="../zone/zone.html">我的小窝</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">我的会员</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">客服咨询</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">全站导航</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">移动端下载</a></span>
        </div>
        <hr>
    </div>



</body>
</html>