<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>脚部模板 - 艾米的宠物社区</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body class="index_footer">
    <div class="index_footer">
        <div class="text-center ">
            <div>
                <span><a href="#">关于社区</a></span>
                <span><a href="#">About Amy's</a></span>
                <span><a href="#">服务协议</a></span>
                <span><a href="#">全站地图</a></span>
                <span><a href="#">帮助中心</a></span>
                <span><a href="#">意见反馈</a></span>
                <span><a href="#">举报</a></span>
                <span><a href="#"><img src="../../images/icons/tel.png" alt="">
                    400-192-2022
                </a></span>
                <span><a href="#"><img src="../../images/icons/email.png" alt="">
                    welcome@amyhome.com
                </a></span>
                <span><a href="#">在线客服 QQ 2368758164&nbsp;&nbsp;1715178458</a></span>
                <span><a href="#">工作时间 9:30~22:00 工作日内</a></span>
            </div>
            <div>
                <span>Copyright © 2022 alix.cn All Rights Reserved</span>
                <span>
                    浏览器支持&nbsp;&nbsp;&nbsp;
                    <img src="../../images/icons/chrome.png" alt="">&nbsp;&nbsp;
                    <img src="../../images/icons/edge.png" alt="">&nbsp;&nbsp;
                    <img src="../../images/icons/ie.png" alt="">&nbsp;&nbsp;
                    <img src="../../images/icons/huohu.png" alt="">&nbsp;&nbsp;
                    <img src="../../images/icons/360.png" alt="">(11)
                </span>
            </div>
        </div>
    </div>
</body>
</html>