<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面模板 - 艾米社区</title>
    <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <script type="javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
    <script type="javascript" src="../../js/jquery-3.6.0.min.js"></script>

    <!-- 开发用样式 -->
    <link rel="stylesheet" type="text/css" href="../../css/testcss.css">
</head>
<body style="background-color:rgba(244,244,244,0.6)">
    <!--     header -->
    <div class="page_header"></div>
    <script>$(".page_header").load("../template/header.html")</script>

    <!-- 主体页面 -->
    <div class="container main">


    </div>

    <!-- footer -->
    <div class="page_footer"></div>
    <script>$(".page_footer").load("../template/footer.html")</script>
</body>
</html>