<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板 - 小窝头部(含滑块)</title>
<!--    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../../css/animate/animate.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../../css/base.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../../css/zone.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../../css/diary.css">-->
<!--    <script src="../../js/jquery-3.6.0.min.js"></script>-->
<!--    <script src="../../js/jquery.cookie.js"></script>-->
<!--    <script src="../../bootstrap/js/bootstrap.bundle.js"></script>-->
<!--    <script src="../../bootstrap/js/bootstrap.min.js"></script>-->
<!--    <script src="../../bootstrap/js/bootstrap.js"></script>-->
<!--    <script src="../../lib/waypoints/jquery.waypoints.min.js"></script>-->
<!--    <script src="../../js/base.js "></script>-->
<!--    <script src="../../js/zone.js "></script>-->
</head>
<body>
    <!-- banner bg -->
    <!-- 更改隐藏方式将TestTemp中id放到父级div中 -->
    <div  class="banner animate__animated animate__bounceInDown">
        <div id="bannerHeader" class="no_border"><!-- testTemp -->
            <video autoplay loop muted>
                <source src="../../video/banner.mp4" type="video/mp4">
            </video>
            <span class="control">
<!--                    <i class="bi bi-volume-mute"></i>-->
                <i class="bi bi-arrow-bar-up pointer"
                   title="点击收起动画横幅"
                   onclick="headerControlBtn()"></i>
            </span>
        </div>

        <!-- 小窝的头部 -->
        <div class="container-fluid home_head text-center">
            <!-- 头部组件 -->
            <div class="row div home_head_tool">
                <!-- 左边 还没想好 -->
                <div class="left">
                    <span><a href="../../index.html">回到首页</a></span>
                </div>
                <!-- 胶囊型搜索框 -->
                <form action="" class="middle animate__animated animate__bounceInDown animate__slow">
                    <div id="search_capsule" class="search_capsule shadow">
                        <span class="search_capsule_left"><img src="../../images/icons/fire.png" alt=""></span>
                        <span><input id="search_capsule_input" class="search_capsule_input input-group"
                                     placeholder="为什么现在喜欢养猫的人越来越多了" onfocus="this.select()"
                                     autocomplete type="text"></span>
                        <span class="btn search_capsule_right">搜 索</span>
                    </div>
                </form>

                <!-- 常规头部选项 -->
                <div class="navigation right">
                    <span>早上好：<a href="https://www.baidu.com">用户19532</a></span>
                    <span class="spacer">|</span>
                    <span><a href="https://www.baidu.com">购物车</a></span>
                    <span class="spacer">|</span>
                    <span><a href="https://www.baidu.com">订单详情</a></span>
                    <span class="spacer">|</span>
                    <span><a href="../zone/zone.html">我的小窝</a></span>
                    <span class="spacer">|</span>
                    <span><a href="https://www.baidu.com">我的会员</a></span>
                    <span class="spacer">|</span>
                    <span><a href="https://www.baidu.com">客服咨询</a></span>
                    <span class="spacer">|</span>
                    <span><a href="https://www.baidu.com">全站导航</a></span>
                    <span class="spacer">|</span>
                    <span><a href="https://www.baidu.com">移动端下载</a></span>
                </div>
            </div>
            <img class="logo" src="../../images/logo/logo.png" alt="">
        </div>
    </div>


    <!-- 公共头部滚动条 -->
    <div id="head_slider" class="header shadow_bottom hide">
        <div class="left float-left">
            <span><a target="_blank" href="../../index.html">返回首页</a></span>
        </div>
        <div class="navigation right" align="right">
            <span>早上好：<a href="https://www.baidu.com">用户19532</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">购物车</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">订单详情</a></span>
            <span class="spacer">|</span>
            <span><a href="../zone/zone.html">我的小窝</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">我的会员</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">客服咨询</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">全站导航</a></span>
            <span class="spacer">|</span>
            <span><a href="https://www.baidu.com">移动端下载</a></span>
        </div>
        <hr>
    </div>


    <!-- slider -->
    <div class="slider text-center">
        <div class="slider_item animate__animated animate__slideInRight animate__faster" onclick="location.href='../../index.html'">回到主页</div>
        <div class="slider_item animate__animated animate__slideInRight animate__fast">关注我</div>
        <div class="slider_item animate__animated animate__slideInRight">勾搭客服</div>
        <div class="slider_item animate__animated animate__slideInRight animate__slow">问题反馈</div>
        <div class="slider_item animate__animated animate__slideInRight animate__slower" onclick="toTop()">回到顶部</div>
    </div>

<script type="text/javascript">
    // 头部控制 收起/展开按钮点击
    function headerControlBtn() {
        bannerHeaderStow();
        setTimeout("$(\"#head_slider\").show()",500);
    }

    // 隐藏默认banner头部并显示公共头部
    function bannerHeaderStow() {
        $("#bannerHeader button,#bannerHeader div,.home_head_tool,.banner .logo").hide();
        $("#bannerHeader *").attr("class", "animate__animated animate__fadeOutUp");
        $(".banner *").attr("class", "animate__animated animate__fadeOutUp");
        setTimeout("$('.banner *').hide()",500);
    }

</script>
</body>
</html>